.dictionary_tooltip{
	margin:8px;
	padding:8px;
	border:1px solid blue;
	background-color:white;
	position: fixed;
	bottom: 5px;
	right: 5px;
	z-index: 999999;
	text-align:left;	
}
.dictionary_tooltip img{
	margin-top:0px;
	padding-top:0px;
}
.dictionary_tooltip .header {
	height: 18px;
	width:100%;
	font-size: 12px;
}

.dictionary_content {
	max-height: 150px;	
	max-width: 180px;
	font-size: 12px;
	overflow:auto;
}

.dictionary_content h2,
.dictionary_content h3,
.dictionary_content h4,
.dictionary_content h5,
.dictionary_content span,
.dictionary_content div {
	font-size: 12px;
}

.dictionary_content a:link,
.dictionary_content a:visited,
.dictionary_content a:hover,
.dictionary_content a:active {
    color:gray;
	text-decoration: none;
}

#searched_content {
	font-size: 12px
}
#searched_content h2,
#searched_content h3,
#searched_content h4,
#searched_content h5,
#searched_content span,
#searched_content div {
	font-size: 12px;
}

#searched_content a:link,
#searched_content a:visited,
#searched_content a:hover,
#searched_content a:active {
    color:gray;
	text-decoration: none;
}
#dic_contact {
    color:#669999;
}
#dic_contact a:link,
#dic_contact a:visited,
#dic_contact a:hover,
#dic_contact a:active {
    color:#669999;
	text-decoration: auto;
}

.close_dictionary_tooltip{
	cursor: pointer;
	padding-right:3px;
	padding-top:1px;
	position:absolute;
	right:8px;
	top:2px;
	width:12px;
	height:12px;
}